.under-green {
  background: linear-gradient(transparent 70%, #ADE090 70%);
}

.under-violet {
  background: linear-gradient(transparent 70%, #dcc8ff 70%);
}

.under-pink {
  background: linear-gradient(transparent 70%, #ffd1dc 70%);
}

#donate-top {
  height: 70vh;
}

#donate-top > .title {
  padding-left: 5vw;
  z-index: 1;
}

#donate-top-image {
  background-image: url("../img/support-top1.png");
  position: absolute;
  width: 60vw;
  height: 60vh;
  right: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#donate-first {
  background-color: #f8f8f8;
}
#donate-second {
  background-color: #fdfdfd;
}

.card{
  width: 80%;
  display:block;
  margin: 15vh auto 1vh auto;
  border-radius: 3rem;
  opacity: 0;
  transition: transform 5s .5s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  will-change: transform, opacity;
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.card.is-visible {
  opacity: 1;
  transform:translateY(-3rem);
}

.subcatchcopy-center {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  margin:5vh 20vw 7.5vh 20vw;
}

#tab-content div {
  display: none;
}

#tab-content div.is-active {
  display: block;
}

.donate-container {
  margin: 5vh 10vw;
}

.donate-checkboxes{
  width: 60vw;
  display:block;
  margin: 5vh 20vw 1vh 20vw;
}

.donate-checkbox{
  margin: 2vh 3vw;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}

.fa-plus-square-o {
  color :rgb(228, 152, 144);
  margin-right: 1rem;
}

.button-container{
  margin: 2vh 8vw;
  text-align: center;
}

.button-grid{
  cursor:pointer;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.button-grid-mobile{
  cursor:pointer;
  margin: 1.5vh auto;
  display:block;
}

.button-grid-mobile > a{
  margin: 0 auto;
  width: 200px;
  max-width: 75%;
}

.button-grid-2{
  cursor:pointer;
  padding-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.button-title{
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

.button-subtitle{
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  display: inline-block;
  margin: 3vh 0 2vh 0;
}

.is-info{
  box-shadow: 6px 6px 5px lightblue;
  color:#06051b !important;
}

.is-white{
  box-shadow: 6px 6px 5px lightpink;
  background-color: #f9c5d1 !important;
}

.button-grid a:nth-child(2):hover{
  background: #c4e0e5 !important;
}
.button-grid a:nth-child(3):hover{
  background: #9eccd4!important;
}
.button-grid a:nth-child(4):hover{
  background: #82bec7 !important;
}
.button-grid a:nth-child(5):hover{
  background: #7ebbc6 !important;
}
.button-grid a:nth-child(6):hover{
  background: #5daab7 !important;
}
.button-grid a:nth-child(7):hover{
  background: #4ca1af !important;
}

.is-success{
  box-shadow: 6px 6px 5px #ADE090;
  color:#06051b !important;
}

.button-grid-2 a:nth-child(1):hover{
  background: #ece5ae !important;
}

.button-grid-2 a:nth-child(2):hover{
  background: #d4d39e!important;
}
.button-grid-2 a:nth-child(3):hover{
  background: #ced5a3 !important;
}
.button-grid-2 a:nth-child(4):hover{
  background: #c5d7aa !important;
}
.button-grid-2 a:nth-child(5):hover{
  background: #bed7ae !important;
}
.button-grid-2 a:nth-child(6):hover{
  background: #b8d9b4 !important;
}
.button-grid-2 a:nth-child(7):hover{
  background: #b0dab9 !important;
}

.outline-content{
  text-align: left;
}

hr.solid {
  border-top: 1.5px solid white;
}

.disclaimer {
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  color: #685d34;
  margin: 0 5vw;
}

@media screen and (max-width:480px) {
  #donate-top-mobile > .title {
    z-index: 1;
  }
  #donate-top-mobile{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    height: 70vh;
  }
  
  #donate-top-image-mobile {
    background-image: url("../img/support-top1.png");
    width: 105vw;
    height: 50vh;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  .subcatchcopy-center {
    font-size: 1.055rem;
    font-weight: 400;
    text-align: center;
    margin:5vh auto;
  }

  .donate-checkboxes{
    width: 80%;
    display: block;
    margin: 5vh auto 1vh auto;
  }
  
  .donate-checkbox{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    max-width: 50vw;
    position: relative;
    margin: 2vh auto;
  }

  .card-content .columns{
    font-size: 0.8rem;
  }

  .is-white{
    max-width: 30vw;
  }

  .is-white > a{
    font-size: 0.5rem;
  }

  }

  @media screen and (max-width:800px) {
    
    .donate-checkbox{
      margin: 2vh 3vw;
      max-width: 50vw;
    }
  
    }

  @media screen and (max-width:1024px) {

    .subtitle{
      font-size: 2rem;
      text-align:center;
    }
  
    .subcatchcopy-center {
      font-size: 1.2rem;
      font-weight: 400;
      text-align: left;
      margin:5vh auto;
    }
  
    .donate-checkboxes{
      width: 80%;
      display: block;
      margin: 5vh auto 1vh auto;
    }
    
    .donate-checkbox{
      margin: 2vh 10vw;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: left;
      max-width: 520px;
      position: relative;
      padding-left: 30px;
    }
  
    .fa {
      position: absolute;
      left: 0;
      top:0.3rem;
    }
  
  }

  
  